################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/eat-mor-vegetables-api/.vs/eat-mor-vegetables-api
/Backend/eat-mor-vegetables-api/bin/Debug/net8.0
/Backend/eat-mor-vegetables-api/obj
/Backend/eat-mor-vegetables-api/.vs/ProjectEvaluation
/Backend/eat-mor-vegetables-api/appsettings.Development.json
/Backend/eat-mor-vegetables-api/SMS_Usage_Example.md
/Backend/eat-mor-vegetables-api/Environment_Variables_Setup.md
